@font-face {
    font-family: main;
    src: url('../assets/fonts/Comfortaa.ttf');
}

@font-face {
    font-family: second;
    src: url('../assets/fonts/Righteous-Regular.ttf');
}

$primaryColor : #9ee2bd;
$secondary : #9f98e8;
$other: #169c94;
$last: #b1e7e3;
$white:#fff;
$dark:#333;
$secondDark: rgb(66, 66, 66);
$grey: #3336;
$light: rgb(240, 248, 255);
$lighti: rgb(237, 239, 240);
$font: "main";
$secondFont:"second";
$shadow: 2px 2px 5px rgba(119, 119, 119, 0.322);

