@import 'config';
.home {
    width: 100%;
    min-height: 90vh;
    font-family: $font;

    .first {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            flex:1;
            margin: auto;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            .left_container {
                width: 80%;
                margin: auto;
                padding: 5px;
                text-align: center;

                .tit{
                    width: 80%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    .bottom {
                        width: 50px;
                        height: 2px;
                        background: $last;
                        position: absolute;
                    
                        top: 48px;
                        
                    }
                }
                h3{
                    font-size: 22px;
                }
                p{
                    font-size: 16px;
                }

                .profile {
                    img{
                        width: 150px;
                        height: 150px;
                        border-radius:50%;
                    }
                }

                .btn {
                    padding: 10px;
                    background-color: $secondary;
                    text-decoration: none;
                    color: #fff;
                    margin-top: 10px;
                    border-radius: 5px;
                }
            }
        }

       

        .right {
            flex:1;
            background: linear-gradient(260deg,#45a281,#4595a2);
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
           .right_container{
             color: $white;
             padding: 10px;

             .title {
                width: 100%;
                position: relative;

                .bottom{
                    width: 100px;
                    height: 3px;
                    position: absolute;
                    top: 34px;
                    background-color: $secondary;
                }
             }
            .text_content {
                line-height: 22px;
                padding: 3px;

                .link {
                    text-decoration: none;
                    color: $last;
                }
            }
            .icons {
                h2 {
                    font-size: 16px;
                }

                ul {
                    display: flex;
                    width: 70%;
                    margin: auto;
                    justify-content: space-between;
                    list-style: none;

                    li {
                        margin-top: 10px;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        background-color: $lighti;


                        a {
                            color: $dark;
                            font-size: 18px;
                        }
                        
                    }
                    li:hover {
                        cursor: pointer;
                        background-color: 
                        $secondary;
                        transform: scale(1.1);
                        color: $white;
                        a {
                            color: $white;
                        }
                        transition: all 0.4s ease;
                    }
                }

            }
           }
        }
    }
}

.home.active {
    background-color: $secondDark;

    .left {
            background: linear-gradient(90deg,#0e1c1b,#28273b);

            .left_container{
                .link {
                    text-decoration: none;
                    color: $secondary;
                }
                h3{
                    color: $white;
                }
                p{
                    color: $light;
                }

                .bottom {
                    background-color: $primaryColor;
                }
            }
    }

    .right {
        background: linear-gradient(260deg,#28273b,#2c3a3c);

        .icons {
            ul {
                li:hover {
                    cursor: pointer;
                    background-color: 
                    $other;
                    transform: scale(1.1);
                    color: $white;
                    a {
                        color: $white;
                    }
                    transition: all 0.4s ease;
                }
            }
        }

     
    }
}

@media screen and (max-width:600px){
    .home{
        .first{
            display: block;
            .left{
                padding-bottom: 25px;
            }
            .right {
              
            }
        }
    }
}