@import 'config';

.skill {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
   
    .title {
        padding-left: 20px;
    }
    
    .cards {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;

        .left,.right {
            padding: 8px;
            border-radius: 5px;

        }
    }

    .items {
        h2 {
            font-weight: 400;
            letter-spacing: 1;
            margin-top: 40px;
            margin-bottom: 5px;
            color: $dark;
            font-size: 16px;
          
        }
        .progress-bar{
            width: 500px;
            height: 8px;
            background: $dark;
            border-radius: 5px;
        
            div {
                height: 8px;
                border-radius: 5px;
                background: $other;
                width: 0;
                transition: all 0.3s ease-in;
                span {
                    width: 36px;
                    height: 36px;
                    background: $dark;
                    color: $white;
                    border-radius: 50%;
                    float: right;
                    margin-top: -15px;
                    margin-right: -20px;
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    justify-content: center;
                }
                
            }
        }
    }
}

.skill.active {
   background: $dark;
   color: $white;
    padding: 0;
    .cards{

        .left,.right {
            border: none;
            border-radius: 5px;
        }
    }
   .items {
    h2{
        color: $white;
    }

    
    .progress-bar {
            background-color: $lighti;
    }
    
   }
}

@media screen and(max-width:600px) {
    .skill {
        .cards {
            display: block;
            

            .left, .right {
                width: 90%;
                margin: auto;
                margin-bottom: 5px;
                padding-bottom: 30px;
                border-radius: 0;
                border-left: 0.1px solid #3337;

                .items {
                    
                    h2 {
                        font-size: 14px;
                    }
                    .progress-bar {
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
}